.menu-btn {
    position: absolute;
    z-index: 1;
    left: 1rem;
    top: 1rem;
    height: 20px;
    width: 25px;
    cursor: pointer;
    @include transition-ease;
    @include breakpoints(laptop) {
        display: none;
    }

    &__burger{
        position: absolute;
        left: 0;
        top: 0.5rem;
        width: 25px;
        height: 3px;
        background: #fff;
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 25px;
            height: 3px;
            background: green;
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 17px;
            height: 3px;
            background: green;
            @include transition-ease
        }
        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after {
                width: 25px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
    
}


// .left-panel {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     opacity: .98;
//     visibility: hidden;
//     text-align: center;
//     @include breakpoints(laptop){
//         visibility: visible;
//         width: 25vw;
//         height: 100vh;
//         background: $web-color;
//         overflow-y: scroll;
//     }
//     &.open {
//         visibility: visible;
//         transform: translateY(0);
//         @include transition-ease;
//     }
    

    // .menu-nav {
    //     display: flex;
    //     flex-flow: column wrap;
    //     justify-content: center;
    //     height: 100vh;
    //     overflow: hidden;
    //     background: $alt-color;
    //     list-style-type: none;
    //     padding-right: 1rem;
    //     transform: translateY(-100%);
    //     @include transition-ease;
    // }
    //}