@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Teko:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 1rem;
  height: 20px;
  width: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 1080px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn__burger {
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 25px;
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 25px;
  height: 3px;
  background: green;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 17px;
  height: 3px;
  background: green;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 25px;
  transform: rotate(-45deg) translate(3px, -7px);
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Courgette", cursive;
}

.menu-btn {
  margin-left: 1rem;
  padding: 0.5rem;
}

.left-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  text-align: center;
  justify-content: center;
  display: none;
  margin-left: -1rem;
}
@media only screen and (min-width: 1080px) {
  .left-panel {
    position: absolute;
    visibility: visible;
    width: 21vw;
    height: 100vh;
    background: #e0e3e4;
    overflow-y: scroll;
    text-align: center;
    display: block;
  }
}

.some-quotes {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 700;
}
.some-quotes p {
  color: skyblue;
  font-size: x-large;
}
.some-quotes span {
  color: peru;
}

.my-name {
  height: 400px;
  margin-top: 50px;
  margin-left: 20px;
  font-size: larger;
  color: #272727;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only screen and (min-width: 1080px) {
  .my-name {
    height: 600px;
  }
}
.my-name img {
  height: 200px;
  width: 200px;
  align-self: center;
  border-radius: 50%;
}
@media only screen and (min-width: 1080px) {
  .my-name img {
    height: 200px;
    width: 200px;
    align-self: center;
    border-radius: 50%;
  }
}
.my-name .name {
  font-family: "League", sans-serif;
  font-size: xx-large;
}
.my-name .name .email {
  font-style: italic;
}
@media only screen and (min-width: 1080px) {
  .my-name .name .email {
    font-style: italic;
    font-size: large;
  }
}

#pages-link {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  justify-content: space-evenly;
}
@media only screen and (min-width: 1080px) {
  #pages-link {
    visibility: visible;
    margin-top: -20px;
    margin-bottom: 40px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 500;
  }
  #pages-link a {
    color: #212121;
  }
}

a {
  padding: 1rem;
  align-self: center;
  text-decoration-line: none;
  text-decoration-color: aqua;
  color: hsl(10, 89%, 51%);
  font-size: 500;
}

#social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-evenly;
  text-decoration-line: none;
}

.main-body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media only screen and (min-width: 1080px) {
  .main-body {
    width: 79vw;
    height: 100vh;
    margin-left: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 1080px) {
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.mySlides img {
  width: 100%;
  height: 700px;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 1080px) {
  .mySlides img {
    margin-top: -2rem;
    height: 700px;
    width: 100%;
  }
}

@media only screen and (min-width: 280px) {
  .mySlides .first {
    position: absolute;
    right: 110px;
    top: 445px;
    color: hsl(200, 40%, 70%);
    font-size: 15px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 375px) {
  .mySlides .first {
    position: absolute;
    right: 110px;
    top: 445px;
    color: hsl(200, 40%, 70%);
    font-size: 20px;
    font-weight: 300;
  }
}
@media only screen and (min-width: 425px) {
  .mySlides .first {
    position: absolute;
    right: 120px;
    top: 435px;
    color: hsl(200, 40%, 70%);
    font-size: 20px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) {
  .mySlides .first {
    position: absolute;
    right: 250px;
    top: 435px;
    color: hsl(200, 40%, 70%);
    font-size: 30px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 1080px) {
  .mySlides .first {
    position: absolute;
    right: 300px;
    top: 400px;
    color: hsl(200, 40%, 70%);
    font-weight: 1000;
    font-size: 40px;
  }
}

@media only screen and (min-width: 280px) {
  .mySlides .text1 {
    padding-bottom: 1.5rem;
    position: absolute;
    top: 550px;
    right: 45px;
    border: solid, #212121, 5px;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    text-decoration-line: none;
    text-align: center;
    background: linear-gradient(40deg, hsl(10, 89%, 51%), hsl(200, 40%, 70%));
  }
  .mySlides .text1 a {
    text-decoration-line: none;
    text-decoration-color: aqua;
    color: #fff;
    font-size: 12px;
  }
}
@media only screen and (min-width: 375px) {
  .mySlides .text1 {
    padding-bottom: 1.4rem;
    position: absolute;
    top: 550px;
    right: 45px;
    border: solid, #212121, 5px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-decoration-line: none;
    text-align: center;
    background: linear-gradient(40deg, hsl(10, 89%, 51%), hsl(200, 40%, 70%));
  }
  .mySlides .text1 a {
    padding: 0.7rem;
    text-decoration-line: none;
    text-decoration-color: aqua;
    color: #fff;
    font-size: 15px;
  }
}
@media only screen and (min-width: 425px) {
  .mySlides .text1 {
    padding: 0.2rem;
    position: absolute;
    top: 550px;
    right: 45px;
    border: solid, #212121, 5px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    text-decoration-line: none;
    text-align: center;
    background: linear-gradient(40deg, hsl(10, 89%, 51%), hsl(200, 40%, 70%));
  }
  .mySlides .text1 a {
    padding: 1.2rem;
    text-decoration-line: none;
    text-decoration-color: aqua;
    color: #fff;
    font-size: 500;
  }
}
@media only screen and (min-width: 768px) {
  .mySlides .text1 {
    padding-bottom: 1.5rem;
    position: absolute;
    top: 550px;
    right: 65px;
    border: solid, #212121, 5px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-decoration-line: none;
    text-align: center;
    background: linear-gradient(40deg, hsl(10, 89%, 51%), hsl(200, 40%, 70%));
  }
  .mySlides .text1 a {
    text-decoration-line: none;
    text-decoration-color: aqua;
    color: #fff;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1080px) {
  .mySlides .text1 {
    padding: 0.2rem;
    align-items: center;
    position: absolute;
    right: 60px;
    top: 550px;
    border: solid, #212121, 5px;
    width: 200px;
    height: 55px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(40deg, hsl(10, 89%, 51%), hsl(200, 40%, 70%));
  }
  .mySlides .text1 a {
    padding: 1.2rem;
    margin-left: 10px;
    text-decoration-line: none;
    text-decoration-color: aqua;
    color: #fff;
    font-size: 500;
    align-self: center;
  }
}

@media only screen and (min-width: 280px) {
  .text2 a {
    position: absolute;
    top: 429px;
    right: 43px;
    color: hsl(10, 89%, 51%);
    font-size: xx-small;
  }
}
@media only screen and (min-width: 375px) {
  .text2 a {
    position: absolute;
    top: 429px;
    right: 60px;
    color: hsl(10, 89%, 51%);
    font-size: xx-small;
  }
}
@media only screen and (min-width: 425px) {
  .text2 a {
    position: absolute;
    top: 429px;
    right: 78px;
    color: hsl(10, 89%, 51%);
    font-size: xx-small;
  }
}
@media only screen and (min-width: 768px) {
  .text2 a {
    position: absolute;
    top: 425px;
    right: 175px;
    color: hsl(10, 89%, 51%);
    font-size: small;
  }
}
@media only screen and (min-width: 1080px) {
  .text2 a {
    position: absolute;
    top: 388px;
    right: 250px;
    color: hsl(10, 89%, 51%);
    font-size: large;
  }
}

#about-me-details h4 {
  font-family: "Teko";
  font-weight: 200;
  font-size: 30px;
  text-align: start;
  opacity: 70%;
  margin-left: 1rem;
}

#about-me-details h2 {
  font-family: "Cormorant SC", serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.my-details p {
  text-align: center;
  line-height: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-right: 1rem;
}

#what-i-do {
  text-align: center;
  padding: 1rem;
  margin-top: 1.5rem;
}

.what-i-do-details h4 {
  font-family: "Teko";
  font-weight: 200;
  font-size: 30px;
  text-align: start;
  opacity: 70%;
}

.what-i-do-details h2 {
  font-family: "Cormorant SC", serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.dev-container {
  padding: 1.5rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1080px) {
  .dev-container {
    display: flex;
    justify-content: space-between;
  }
}

.dev-image {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dev1 {
  padding: 1rem;
  height: 200px;
  width: 100%;
  background: rgb(248, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.19);
  border-bottom: hsl(200, 40%, 70%) solid 5px;
}

#my-journey {
  text-align: center;
  padding: 1rem;
}
#my-journey h4 {
  font-family: "Teko";
  font-weight: 200;
  font-size: 30px;
  text-align: start;
  opacity: 70%;
  margin-bottom: 30px;
}

.line {
  display: flex;
  margin-left: 25px;
  margin-top: 8px;
  padding: 1rem;
}
@media only screen and (min-width: 1080px) {
  .line {
    margin-left: 240px;
    margin-top: 10px;
  }
}

.vertical-line {
  width: 1px;
  height: 1050px;
  border: black solid 1px;
}
@media only screen and (min-width: 1080px) {
  .vertical-line {
    height: 850px;
  }
}

@media only screen and (min-width: 280px) {
  .whole-journey {
    margin-left: -27px;
  }
}
@media only screen and (min-width: 375px) {
  .whole-journey {
    margin-left: -32px;
  }
}
@media only screen and (min-width: 425px) {
  .whole-journey {
    width: auto;
    margin-left: -37px;
  }
}
@media only screen and (min-width: 768px) {
  .whole-journey {
    width: auto;
    margin-left: -65px;
  }
}
@media only screen and (min-width: 1080px) {
  .whole-journey {
    width: 100%;
    margin-left: -75px;
  }
}

.my-journey-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.journey1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  width: 70%;
  background: rgb(233, 232, 232);
}
@media only screen and (min-width: 1080px) {
  .journey1 {
    width: 70%;
    height: 200px;
  }
}

.material-symbols-outlined {
  align-items: center;
}
.material-symbols-outlined span {
  opacity: 50%;
}

.font-container {
  height: 30px;
  width: 30px;
  border: #bbb solid 1px;
  border-radius: 50%;
  background: hsl(200, 40%, 70%);
}

.fa-solid {
  color: #272727;
  margin-top: 0.4rem;
}

#my-projects {
  text-align: center;
  padding: 1rem;
}
#my-projects h4 {
  font-family: "Teko";
  font-weight: 200;
  font-size: 30px;
  text-align: start;
  opacity: 70%;
  margin-bottom: 30px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-item .image-container {
  width: 100%;
  height: 350px; /* Set a fixed height for the image container */
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and fill the container */
}

.project-info {
  margin-top: 10px;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-description {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-container button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tools-container {
  margin-top: 10px;
}

.tools-container .tools-label {
  font-weight: bold;
}

.tools-container .tools-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tools-container .tools-list li {
  margin: 2px 5px;
  padding: 2px 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
}/*# sourceMappingURL=main.css.map */